body {
  color: rgb(19, 18, 18);
  text-align: center;
  font-family:Impact;
}

p {
  color: rgb(19, 18, 18);
  text-align: center;
  font-family:Impact;
  font-size: 20px;


}


h2 {

  font-family: Impact;
}